.binding {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2rem;
}

button {
    border: 1px solid cadetblue;
    background-color: cadetblue;
    padding: 1rem;
    color: #fff;
}

input {
    border: 1px solid cadetblue;
    padding: 1rem;
    font-size: 1.2rem;
}

.result {
    font-size: 1.2rem;
    color: darkslategrey;
    font-weight: bold;
}
