<ul>
    <li class="person-container">
        <span class="person-name">Pessoa 1</span>
        <p class="person-bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aspernatur est veniam earum doloremque in facere architecto, recusandae cumque sed exercitationem quae iste iusto possimus. Praesentium consectetur modi cumque quo.</p>
    </li>
    <li class="person-container">
        <span class="person-name">Pessoa 2</span>
        <p class="person-bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ullam dolores dignissimos suscipit atque quia fuga quod vitae iure tempora nihil ea, sed nulla in sunt est commodi, voluptatibus voluptas. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nesciunt molestiae exercitationem recusandae praesentium rerum pariatur veniam quos incidunt. Commodi alias minima et corrupti eum eius nam reprehenderit. Exercitationem, facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolorem quae doloribus optio est. Soluta neque sint voluptatibus nemo similique, consequuntur nulla adipisci autem iusto, consectetur tempora vero? Quaerat, ex?</p>
    </li>
    <li class="person-container">
        <span class="person-name">Pessoa 3</span>
        <p class="person-bio">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis optio voluptas, autem quo numquam consectetur, dolorem saepe est, ipsam a mollitia iusto quos ad consequuntur rem! Illo harum expedita Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas libero veniam, consequuntur rerum vitae nisi vero non in. Quia saepe assumenda accusantium veritatis quam at expedita est sint, autem odio! </p>
    </li>
</ul>
